FLASK_APP_KEY=some_key
SCOPES="https://www.googleapis.com/auth/spreadsheets.readonly , https://www.googleapis.com/auth/drive.file"
CALLBACK_URL=https://tool.nextvision.cz/trends/callback
LOGIN_URL=https://tool.nextvision.cz/trends/login
PLANNER_URL=https://tool.nextvision.cz/planner
SCRAPER_URL=https://tool.nextvision.cz/scraper